<html>
<head>
<title>test</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/flat-ui.css">
<link rel="stylesheet" href="/css/icon-font.css">
<link rel="stylesheet" href="/css/animations.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
{{{body}}}
</div>
</body>
</html>