<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- TITLE -->
	<title>Shivver</title>

	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/flat-ui.css">

	<!-- CUSTOM CSS -->
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<header>
	<div class="container">
		<a href="#"><img src="images/logo.png"></a>
	</div>
	<hr/>
</header>

{{{body}}}

<footer>
	<hr/>
	<div class="container">
		<b>Made by <a href="http:twitter.com/trevorstarick">@trevorstarick</a> with <span class="red">♥</span> in <a href="http://builtinmtl.com/">Montreal</a></b>
	</div>
</footer>

<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="js/jquery.sharrre.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/page-transitions.js"></script>
<script src="js/easing.min.js"></script>
<script src="js/jquery.svg.js"></script>
<script src="js/jquery.svganim.js"></script>
<script src="js/jquery.backgroundvideo.min.js"></script>
<script src="js/froogaloop.min.js"></script>
<script src="js/startup-kit.js"></script>

</body>
</html>